*{
  padding: 0px;
  margin: 0px;
  scroll-behavior: smooth;
}

body{
  background: #191919;
  font-family: Arial;
}
header{
  background-image: linear-gradient(to right, rgba(0,0,0,0.4), rgba(0,0,0,0.6), rgba(0,0,0,0.9)), url('imgbackgroundhead.jpg');
  background-repeat: no-repeat;
  height: 100vh;
  max-width: 100%;
  background-position: center;
  background-size: cover;
}  
nav{
  width: 100%;
}

header nav .nav-main-div{
  justify-content: space-between;
  display: flex;
  align-items: center;
  background:#000000;
  z-index: 999;
  padding: 15px 15%;
  flex-wrap: wrap;
  opacity: 0.9;
}
header nav .nav-main-div .left-nav h1{
  font-family: 'Inter', sans-serif;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  font-size: 25px;
  text-transform: capitalize;
  font-weight: 1000px;
}
.openMenu{
  border-radius: 3px;
  padding: 4px 0px;
}
.close-menu-items{
  background: #ffffff;  
  height: 30px;
  width: 60px;
  position: absolute;
  top: 20px;
  display: none;
  opacity: 0;
}
header nav .nav-main-div .right-nav .open-menu-items{
  background: #fff;
  height: 2px;
  width: 18px;
  margin: 3.5px 10px;
  border-radius: 2px;
}
.menu-items{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  z-index: 999;
}
header nav .nav-items{  
  background: #101010;
  text-align: center;
  width: 70%;
  height: 0px;
  overflow: hidden;
  transition: 0.5s ease-in-out;
  position: absolute;
  top: 70px;
}
.nav-items ul li{
  list-style: none;    
  margin: 30px 0px;
}
.nav-items ul li a{
  text-decoration: none;
  color: #ffffff;
  text-transform: capitalize;
  font-size: 12px;
  font-family: 'Inter', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.nav-items ul li a:hover{
  color: #cc8a00;
}

.main-div h1{
  font-size: 55px;
  color: #fff;
  letter-spacing: 3px;
  text-transform: capitalize;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 100;
  padding: 10px 20px;
}

.main-div{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.main-div h2{
  color: #ffffff;
  font-size: 2em;
  letter-spacing: 3px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 800;
  margin-top: 20px;
  text-shadow: 1px 1px 1px rgb(0,0,0);
  text-transform: capitalize;
}

.main-div h2 span{
  color: rgb(239,202,145);
}

.btn-div{
  margin-top: 80px;
}

.main-div a:first-child{
  padding: 10px 30px;
  border: 2px solid #ffffff;
  color: #ffffff;
  text-decoration: none;
  border-radius: 50px;
  font-size: 15px;
  transition: 0.3s ease-in-out;
  text-transform: capitalize;
  font-family: Arial;
  text-shadow: 1px 1px 1px rgb(0,0,0);
}

.main-div a:first-child:hover{
  color: #ffffff;
  background: #be9451;
  border: none;
  text-shadow: 0px 0px 0px ;
}

.main-div a:last-child{
  background: #ffffff;
  color: #be9451;
  font-size: 15px;
  padding: 10px 30px;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  text-transform: capitalize;
  font-family: Arial;
}

.main-div a:last-child:hover{
  color: #ffffff;
  background: #be9451;
  border: none;
}





/*         section one start     */
.section-one{
  margin-top: 100px;
}

.section-one:hover .sec-one-heading{
  color: #151515;
  text-shadow: 0px 0px 2px #656565;
}

.section-one .animated-line{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: left;
  flex-direction: column;
  padding: 15%;
}

.section-one .sec-heading, .sec-heading{
  text-align: center;
  text-transform: capitalize;
  font-family: 'Work Sans', sans-serif;
  font-size: 2.7em;
  color: #2f2f2f;
  letter-spacing: 3px;
  transition: 0.3s ease-in-out;
}

.section-one .sec-heading:hover{
  color: #151515;
  text-shadow: 0px 0px 1px #656565;
}

.section-one .animated-line p{
  color: #fff;
  font-size: 15px;
  margin: 15px 5px 5px 5px;
  text-transform: capitalize;
  font-family: 'Josefin Sans', sans-serif;
}

.section-one .animated-line .web-development{
  width: 100%;
  height: 8px;
  background: #2f2f2f;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 5px;
}
.section-one .animated-line .branding{
  width: 100%;
  height: 8px;
  background: #2f2f2f;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 5px;
}
.section-one .animated-line .web-designing{
  width: 100%;
  height: 8px;
  background: #2f2f2f;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.section-one .animated-line .web-development:before{
  content: "";
  position: absolute;
  background: rgb(218,179,123);
  width: 60%;
  height: 8px;
  transform-origin: left;
  animation: animate 8s ease-in-out;
  border-radius: 10px;
}

.section-one .animated-line .branding:before{
  content: "";
  position: absolute;
  background: rgb(218,179,123);
  width: 50%;
  height: 8px;
  transform-origin: left;
  animation: animate 8s ease-in-out;
  border-radius: 10px;
}

.section-one .animated-line .web-designing:before{
  content: "";
  position: absolute;
  background: rgb(218,179,123);
  width: 55%;
  height: 8px;
  transform-origin: left;
  animation: animate 8s ease-in-out;
  border-radius: 10px;
}

@keyframes animate{
  0%,20%{
    transform: scaleX(0);
  }
  40%{
    transform: scaleX(1);
    transform-origin: left;
  }
  40.000001%,60%{
    transform: scaleX(1);
    transform-origin: right;
  }
}

.about-div{
  padding: 0% 10%;
  margin-bottom: 100px;
}

.about-img{
  background-image: url('/img/about-img.jpg');
  height: 400px;
  max-width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0% 5% 0% 5%;
}

.about-div .who-am-i{
  color: #cbcbcb;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 5px;
  text-transform: uppercase;
  letter-spacing: 7px;
  word-spacing: 5px;
  margin: 100px 0% 20px 5%;
}

.about-div .who-am-i span{
  text-transform: lowercase;
}

.about-div .para-name{
  font-size: 25px;
  color: #ffffff;
  background: #d6ac6b;
  display: inline-block;
  margin: 2px 0% 0% 5%;
  padding: 5px 8px 10px 5px;
  letter-spacing: 7px;
  word-spacing: 5px;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
}

.about-div .para-name span{
  font-size: 30px;
}

.about-div .para-heading{
  color: #ffffff;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: capitalize;
  font-size: 10px;
  margin: 40px 5% 0% 5%;
}

.about-div .about-para{
  font-size: 8px;
  margin: 30px 5% 0px 5%;
  color: #a9a9a9;
  font-family: 'Montserrat', sans-serif;
  line-height: 15px;
}

.about-div .follow{
  color: #c5933c;
  font-size: 12px;
  margin: 40px 0px 0px 5%;
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;
}

.about-div .oneline-items{
  display: flex;
  flex-direction: row;
}

.about-div .line-follow{
  width: 40px;
  height: 0.5px;
  background: #ffffff;
  margin: 47px 15px 0px 15px;
}

.about-div .oneline-items i{
  color: #ffffff;
  margin: 40px 25px 0px 0px;
  font-size: 12px;
  cursor: pointer;
}

.about-div .oneline-items i:hover{
  color: #bd8949;
}









/* ########## section-two start ########## */
 .section-two{
  background: #101010;
  padding: 0px 15% 20px 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section-two:hover .sec-heading{
  color: #151515;
  text-shadow: 0px 0px 1px #656565;
}

.sec-two-heading{
  padding: 50px 0px 50px 0px;
}

.services{
  background: #080808;
  margin-bottom: 50px;
  text-align: center;
  padding: 5% 5%;
  display: flex; 
  width: 200px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1% 1% 1% 1%;
}

.services h2{
  color: #fff;
  font-size: 15px;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 40px;
  text-transform: capitalize;
}

.services p{
  color: #818181;
  font-size: 12px;
  margin-top: 10px;
  font-family: 'Montserrat', sans-serif;
  line-height: 23px;
}

.wrap-div{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}



.rotate-div{
  margin-top: 20px;
  width: 60px;
  height: 60px;
  background: rgb(28,28,28);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  transform: rotate(45deg);
  transition: 0.3s ease;
}

.services i{
  color: rgb(205,160,100);
  font-size: 25px;
  text-align: center;
  transform: rotate(-45deg);
  transition: 0.3s ease;
}

.services:hover .rotate-div{
  transform: rotate(0deg);
  background: rgb(205,160,100);
}

.services:hover .rotate-div i{
  color: #fff;
  transform: rotate(0deg);
}










/* ####### third-section start  ######## */

.third-section{
  padding: 0% 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.wrap-div-two{
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.third-section .sec-heading{
  padding: 50px 0px 50px 0px;
}

.third-section:hover .sec-three-heading{
  color:#191919;
  text-shadow: 0px 0px 1px #656565;
}

.blog-posts{
  height: 300px;
  max-width:30%;
  background-position: center;
  margin: 0% 1% 1% 1%;
  border-radius: 5px;
  background-size: cover;
  background-repeat: no-repeat;
}

.position-div{
  margin-left: 10px;
  margin-right: 10px;
}

.position-div p{
  color: #d8b264;
  font-size: 12px;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding-top: 50%;
}

.position-div h1{
  color: #fff;
  text-transform: capitalize;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 25px;
  padding-top: 25px;
  margin-bottom: 30px;
  letter-spacing: 3px;
  margin-left: 5px;
}

.position-div a{
  color: #ffffff;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: 12px;
  text-transform: capitalize;
  border-bottom: 1px solid #c9ae76;
  padding-bottom: 10px;
  margin-left: 20px;
}

.position-div a:hover{
  color: #dab885;
}




/*     blog post */


.blog-post-one{
  background-image: linear-gradient(to top, #000000, transparent), url('https://images.unsplash.com/photo-1664575197229-3bbebc281874?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80');
}
.blog-post-two{
  background-image: linear-gradient(to top, #000000, transparent), url('https://images.unsplash.com/photo-1562177049-e3a4ae99d149?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2787&q=80');
}
.blog-post-three{
  background-image: linear-gradient(to top, #000000, transparent), url('https://images.unsplash.com/photo-1487611459768-bd414656ea10?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGJsb2dnaW5nfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=2000&q=60');
}
.blog-post-four{
  background-image: linear-gradient(to top, #000000, transparent), url('https://images.unsplash.com/photo-1614963326505-843868e1d83a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fGVkaXRpbmd8ZW58MHx8MHx8&auto=format&fit=crop&w=2000&q=60');
}
.blog-post-five{
  background-image: linear-gradient(to top, #000000, transparent), url('https://images.unsplash.com/photo-1593697909683-bccb1b9e68a4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fG1ha2luZyUyMHZpZGVvc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=2000&q=60');
}
.blog-post-six{
  background-image: linear-gradient(to top, #000000, transparent), url('https://images.unsplash.com/photo-1460925895917-afdab827c52f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8d2Vic2l0ZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=2000&q=60');
} 




/* ########### fourt section ########  */

.fourth-section{
  margin-top: 50px;
  background: #0f0f0f;
  padding: 50px 10% 50px 10%;
}

.fourth-section:hover .sec-four-heading{
    color: #151515;
  text-shadow: 0px 0px 2px #656565;
}

.fourth-section .sec-heading{
  margin-bottom: 50px;
}

.fourth-section .detail-heading{
  color: #e3b674;
  text-transform: uppercase;
  font-size: 5px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 3px;
}

.fourth-section .detail-para{
  font-family: 'Montserrat', sans-serif;
  color: #8c8c8c;
  font-size: 6px;
  margin: 20px 0px 30px 0px;
  text-transform: uppercase;
}

.fourth-section .email-para{
  text-transform: lowercase;
}

.contact-form{
  padding: 0px 5% 0px 0px;
  margin-top: 50px;
}

.contact-form input[type='text'], input[type='email']{
  width: 40%;
  padding: 20px 20px;
  background: #2a2a2a;
  color: #fff;
  outline: none;
  border-radius: 50px;
  border: 0px;
  margin-left: 20px;
}

.contact-form textarea{
  background: #2a2a2a;
  color: #fff;
  padding: 20px 20px;
  border-radius: 10px;
  width: 90%;
  border: 0px;
  outline: none;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 15px;
}

.submit-div{
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: right;
  margin-top: 40px;
}

.contact-form input[type='submit']{
  background: rgb(220,156,88);
  color: #fff;
  font-size: 15px;
  font-family: 'Montserrat', Sans-Serif;
  padding: 10px 20px;
  border-radius: 50px;
  text-align: right;
  outline: none;
  border: 0px;
  transition: 0.3s ease-in-out;
}
.contact-form input[type='submit']:hover{
  background: #ffffff;
  color: rgb(220,156,88);
}




/*     footer-section     */
footer{
   padding: 50px 5%;
}

.footer-heading{
  color: #fff;
  font-size: 15px;
  font-family: 'Josefin Sans', Sans-Serif;
  text-transform: capitalize;
  text-align: center;
  font-weight: 600;
}

.main-rotate-div{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.rotate-div-two{
  margin-top: 20px;
  width: 40px;
  height: 40px;
  background: rgb(35,35,35);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transform: rotate(45deg);
  transition: 0.3s ease;
  margin: 10px;
}

.rotate-div-two i{
  color: rgb(211,180,138);
  font-size: 15px;
  text-align: center;
  transform: rotate(-45deg);
  transition: 0.3s ease;
}

.copy-para{
  font-size: 5px;
  text-align: center;
  color: rgb(157,157,157);
  text-transform: uppercase;
  font-family: "Montserrat", Sans-Serif;
  margin-top: 20px;
  line-height: 20px;
  letter-spacing: 2px;
}

.copy-para span{
  color: rgb(97,97,97);
}

.rotate-div-two:hover{
  transform: rotate(0deg);
  background: rgb(205,160,100);
}

.rotate-div-two:hover i{
  color: #fff;
  transform: rotate(0deg);
}

@media only screen and (max-width: 800px){


.about-div{
  padding: 0px;
}  
  
.about-img{
  background-image: url('about-img.jpg');
  height: 400px;
  max-width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0px;
}



.wrap-div-two{
  display: block;
  width: 100%;
}

.wrap-div-two .blog-posts:nth-child(2){
  margin-left: 2%;
}
.wrap-div-two .blog-posts:nth-child(3){
  margin-left: 2%;
}
.position-div p{
  padding-top: 120px;
}
.blog-posts{
  max-width: 100%;
  margin: 0% 2% 20px 2%;
  height:300px;
  border-radius: 5px;
 box-shadow: inset 0px 0px 5px rgb(24,24,24);
}

.third-section .sec-heading{
  margin-bottom: 0px;
}

.third-section{
  padding: 0% 0%;
}


.about-div .about-para{
  font-size: 10px;
  line-height: 25px;
}

.section-two{
  padding: 0px 5% 50px 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.services p{
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
  line-height: 23px;
}

.services h2{
  font-size: 15px;
}

.services{
  background: #080808;
  margin-bottom: 50px;
  text-align: center;
  padding: 10% 5%;
  width: auto;
}

.wrap-div{
  display: block;
  width: auto;
}

.second-services{
  margin-left: 0px;
}
.fourth-services{
  margin-left: 0px;
}

.section-one .animated-line{
  padding: 5%;
}

.section-one .animated-line .web-development:before{
  content: "";
  position: absolute;
  background: rgb(218,179,123);
  width: 75%;
  height: 8px;
  transform-origin: left;
  animation: animate 8s ease-in-out;
  border-radius: 10px;
}

.section-one .animated-line .branding:before{
  content: "";
  position: absolute;
  background: rgb(218,179,123);
  width: 55%;
  height: 8px;
  transform-origin: left;
  animation: animate 8s ease-in-out;
  border-radius: 10px;
}

.section-one .animated-line .web-designing:before{
  content: "";
  position: absolute;
  background: rgb(218,179,123);
  width: 65%;
  height: 8px;
  transform-origin: left;
  animation: animate 8s ease-in-out;
  border-radius: 10px;
}

.about-div .para-heading{
  color: #ffffff;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: capitalize;
  font-size: 15px;
  margin: 40px 5% 5% 5%;
}

.about-div .who-am-i{
  font-size: 10px;
}

.fourth-section{
  padding: 50px 5%;
}
.fourth-section .sec-heading{
  margin-bottom: 50px;
}
.fourth-section .detail-heading{
  font-size: 12px;
}
.fourth-section .detail-para{
  font-size: 12px;
  margin: 10px 0px 30px;
}

.contact-form input[type='text'], input[type='email']{
  width: 90%;
  padding: 20px 20px;
  background: #2a2a2a;
  color: #fff;
  outline: none;
  border-radius: 50px;
  border: 0px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

.footer-heading{
  font-size: 25px;
}

.copy-para{
  font-size: 12px;
  text-align: center;
  color: rgb(157,157,157);
  text-transform: uppercase;
  font-family: "Monospace", Sans-Serif;
  margin-top: 20px;
}
}
  
